@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*=== VARIABLE CSS ===*/
:root {
  /*colors*/
  --detailPurple: #753369;
  --lightPurple: #f5ebf5;
  --mediumPurple: #685093;
  --darkPurple: #484665;
  --yellow: #ffc502;
  --fuschia: #fa015a;
  --fusc1: #ff469f;
  --fusc2: #ff6062;
}

input, button, textarea {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

html {
  background-color: var(--lightPurple);
}

.App {
  min-height: 100vh;
}

/* base styles */
* {
  margin: 0;
  font-family:"Quicksand";
  color: #333;
}
.navbar {
  padding:20px;
  display: flex;
  align-items: center;
  /* max-width: 600px; */
  margin: 0 auto;
  border-bottom: 2px solid var(--yellow);
  border-top: 2px double var(--fuschia);
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}
.navbar h1 {
  color: var(--darkPurple);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left:16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--fuschia);
}
.content {
  max-width: 800px;
  /* margin: 400px auto; */
  padding: 20px;
}
button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, var(--mediumPurple) 50%, var(--mediumPurple) 50%, var(--darkPurple));
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  background-position: 100% 0%;
}

/* ===== POSTS ====== */
.single-post-card {
  flex-basis: 200px;
  flex-grow: 1;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 10px;
}
.header-info h2 {
  margin-bottom: 10px;
}
.description {
  font-size: x-large;
}
.price {
  font-style: italic;
}
.single-post-view {
  flex-basis: 500px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.single-post-view > p {
  margin: 10px 0px 0px 0px;
}
.postButtons {
  display: flex;
  justify-content: space-around;
}
.postButtons button {
  min-width: 200px;
  margin-top:20px;
}
.postButtons .delete {
  background-image: linear-gradient(to right, var(--fusc1) 50%, var(--fusc1) 50%, var(--fusc2));
}
.postButtons a, .home a{
  color: white;
  text-decoration: none;
}

/* ===== LOGIN FORM ===== */
form {
  display: block;
  position: relative;
}
form::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, var(--lightPurple), var(--darkPurple));
}
form .form-inner {
  position: relative;
  display:block;
  background-color: #fff;
  padding: 30px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form .form-inner h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}
form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}
.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}
.form-inner .form-group:focus-within label {
  color: var(--fuschia);
  border-left: 5px solid var(--yellow);
  padding-left: 16px;
}
form .form-inner .form-group input, textarea {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  transition: 0.4s;
  
}
form .form-inner .form-group input:focus, textarea:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}
form .form-inner input[type='submit'], .welcome button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, var(--detailPurple) 50%, var(--detailPurple) 50%, var(--darkPurple));
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.error {
  color: var(--fuschia);
}
form .form-inner input[type='submit']:hover,
.welcome button:hover {
  background-position: 100% 0%;
}
#useLocation {
  width: 15px;
  height: 15px;
  border: 2px solid var(--darkPurple);
  
}
input[type='checkbox']:checked {
  background-color: var(--darkPurple)
}
.notMember, .member {
  margin: 20px;
}

/* WELCOME page */
.welcome, .logout, .home {
  width: 100%;
  background-color: #ffff;
  padding: 10px 15px;
}
.welcome h2, .logout h2 {
  color: #f7f7f7;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}
.welcome h2 span {
  color: var(--mediumPurple)
}
.welcome a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
} 
.welcome button a{
  color: white;
}
.profile-container {
  /* width: 485px; */
  height: 485px;
  margin: 0 auto;
  /* margin-top: 200px; */
  margin-left: 0;
  font-family: 'Open Sans', sans-serif;
}
.profile-menu {
  float: left;
  /* width:37%; */
  height:482px;
  background: #ffff;
  /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); */
}
.image-container {
  width:70px;
  height: 70px;
  margin: 60px;
}
.image-container img{
  max-width:100%;
  height: auto;
  border-radius: 50%;
}
.image-container img:hover {
  opacity: 0.8;
}
.profile-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.profile-container .btnDiv {
  position: absolute;
  justify-content: center;
  align-items: center;
}
.profile-container  button {
  margin-top: 60px;
  
}
.profile-container li {
  padding: 10px 20px;
  font-size: 13px;
}
.profile-container li:hover, .active {
  background: #f7f7f7;
  border-left: 5px solid var(--yellow);
}
.profile-content {
  width: 75%;
  float: right;
  background: #fff;
  /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); */
}
.profile-content .actions {
  width: 100%;
  background:linear-gradient(to right, #c48418 0%, #ffd900 100%);
  height: 40px;
  line-height: 40%;
  color: #ffff;
  padding: 20px 0 0 0;
}
.pic {
  background:linear-gradient(to right, #c48418 0%, #ffd900 100%);
  text-align: center;
  color:#fff;
  padding:0 0 20px 0;
}
.pic img {
  width: 90px;
  height:auto;
  border-radius:50%;
}
.pic img:hover {
  opacity: 0.8;
}
.pic h2 {
  padding: 0;
  margin: 0;
  font-weight: 600;
}
/* .pic span {
  font-size: 15px;
  font-weight: 300;
} */
.summary {
  color: #fff;
}
.summary .content {
  width: 50%;
  float: left;
  text-align: center;
  display: block;
  padding: 10px 0;

}
.summary .content span {
  display: block;
  font-size: 14px;
  font-weight: 500;
}


/* BLOG PREVIEW / LIST  */
.post-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa; 
  background-color: white;
  border: 10px;
}
.post-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.post-preview h2 {
  font-size: 20px;
  color: var(--fuschia);
  margin-bottom: 8px;
}

/* HOME PAGE  */
.row{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 100px 0;
}
.col1{
  flex-basis:40%;
  position: relative;
  margin-left: 50px;
}
.col1 h2 {
  font-size: 54px;
}
.col1h3 {
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0;
}
.col1 p {
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
  margin-bottom:30px;
}
.col1::after {
  content: '';
  width: 10px;
  height: 57%;
  background: linear-gradient( var(--fusc1), var(--fusc2));
  position: absolute;
  left: -40px;
  top: 8px;
}
.col2 {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}
.col2 .homeImage {
  width: 90%;
}
.col2 .colorBox {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(var(--lightPurple), var(--darkPurple));
  border-radius: 20px 0 0 20px;
  height: 100%;
  width: 80%;
  z-index: -1;
  transform: translateX(150px)
}



